body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/background.jpg");
}

body h1 {
  color: white;
}

.splash-page a, .add-movie a {
  color: white !important;
}

/* COMMOM CSS */
div.home-page, .movie-list-page, .add-movie {
  padding-top: 45px;
  /* padding-bottom: 45px; */
}

/* HOME PAGE */

.splash-page {
  border: 2px solid #808080;
  border-radius: 10px;
  text-align: center;
  color: #808080;
  background-color: white;
  padding: 20px;
}

/* MOVIE LIST PAGE */
.actions {
  padding-top: 45px;
  padding-bottom: 45px;
}
.card {
  margin: 2% 4%;
}
.card h3 {
  text-align: center;
}
.card a {
  margin: 5px;
}

/* ADD MOVIE PAGE */
.add-movie form {
  padding: 15px;
  border: 2px solid #808080;
  border-radius: 10px;
  color: #808080;
  background-color: white;
}