body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background: url("../images/background.jpg");
}

body h1 {
  color: white;
}

.splash-page a, .add-movie a {
  color: white !important;
}

/* COMMOM CSS */
div.home-page, .movie-list-page, .add-movie, .movie-page {
  padding-top: 45px;
  /* padding-bottom: 45px; */
}

/* HEADER */
header form a {
  margin-left: 10px;
}

/* HOME PAGE */
.splash-page {
  border: 2px solid #808080;
  border-radius: 10px;
  text-align: center;
  color: #808080;
  background-color: white;
  padding: 20px;
}
.splash-page h1 {
  color: #808080;
}

/* MOVIE LIST PAGE */
.actions {
  padding-top: 45px;
  padding-bottom: 45px;
}
.card {
  margin: 2% 4%;
  background-color: lightgray;
}
.card h3 {
  text-align: center;
}
.card a {
  margin: 5px;
  color: white !important;
}

/* ADD MOVIE PAGE */
.add-movie form {
  padding: 15px;
  border: 2px solid #808080;
  border-radius: 10px;
  color: black;
  background-color: lightgray; 
}

/* MOVIE PAGE */
.movie-information {
  padding: 15px;
  border: 2px solid #808080;
  border-radius: 10px;
  color: black;
  background-color: lightgray; 
}
.movie-information h4 {
  text-decoration: underline;
}